body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  select, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
  }
  
  #result h2 {
    font-size: 20px;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 16px;
    color: #666;
    padding: 5px;
    text-align: left;
    background-color: #e9ecef;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  /* 小測驗專用 */
  
  form div {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
  
  form label {
    display: block;
    margin: 5px 0;
    font-size: 16px;
    color: #444;
  }
  
  form button[type="submit"] {
    margin-top: 15px;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #218838;
  }